<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">	
		<title>YOGA - API Docs - <?js= title ?></title>
		<!-- Bootstrap Meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- End Bootstrap Meta -->
		<!-- JQUERY -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Bootstrap Libs and CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<!-- END Bootstrap Libs and CSS -->
		<!-- JSDOCS Specific -->
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
		<!-- END JSDOCS Specific -->
		<!-- YOGA Specific -->
		<link href="/img/yogaIconFavIcon.png" rel="icon" type="image/png">
		<script src="/js/initpage.js"></script>
		<link href="/css/yoga.css" rel="stylesheet" type="text/css">
		<!-- END YOGA Specific -->
	</head>
	<body>
		<div id="navbar"></div>
		<div class="container-fluid">
			<div id="main">
				<h1 class="page-title"><?js= title ?></h1>
				<?js= content ?>
			</div>
			<nav id="jsdocs">
				<?js= this.nav ?>
			</nav>
			<br class="clear">
			<footer>
				Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
			</footer>
			<script>prettyPrint()</script>
			<script src="scripts/linenumber.js"> </script>
			<div id="footer"></div>
		</div>
	</body>
</html>
